<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap3 %}
<script src="{% bootstrap_jquery_url %}"></script>
{% bootstrap_javascript %}
{% bootstrap_css %}
    <style>
        header {
  width: 100%;
  height: 100%;
  background: blue;
  background-size: cover;
}
    </style>
</head>
<body>
<div id="header">
    <span class="logo">Forum</span>
    <span class="user">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }},
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Log-in</a>
        {% endif %}
    </span>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>